.resultWrapper {
  height: 380px;
  position: absolute;
  top: 57px;
  right: 0;
  left: 0;
  z-index: 2;
}

.resultItem {
  height: 100px;
  &:hover {
    background-color: ghostwhite;
  }
}

.showAllOfResultsBtn {
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  &:hover {
    background-color: darken(#37b2ac, 3%);
  }
  &:disabled {
    background-color: darken(#cbd5e0, 3%);
    cursor: not-allowed;
  }
}

.noItemWrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
